[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.28.x
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
	branch = 0.9.8
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
	branch = release
[submodule "external/dds_image"]
	path = external/dds_image
	url = https://github.com/spnda/dds_image